@charset "UTF-8";


body {
    font-size: 12pt;
    font-family: "Times New Roman", Times, serif;
}

table {
  table-layout: auto;
  width: 50%;
  border: 1px black;
}

th {
  text-align: left;
}

h1  {
    margin-left: 0pt;
    font-size: 140%;
    font-weight: bold;
    padding-top: 24pt;
    text-transform: uppercase;
}

h2  {
    margin-left: 0pt;
    font-size: 100%;
    font-weight: bold;
    padding-top: 8pt;
}

h3,
h4,
h5  {
    margin-left: 8pt;
    font-size: 12pt;
    display: inline;
    padding-right: 8pt
}

.paragraph {
	margin-left: 12pt;
	padding-top: 10pt;
}

.subparagraph {
	margin-left: 15pt;
	padding-top: 10pt;
}

.clause {
	margin-left: 18pt;
	padding-top: 8pt;
}

.subclause {
	margin-left: 21pt;
	padding-top: 6pt;
}

a {
    color: #000; 
    text-decoration: none;
    pointer-events: none;
}